/* ------------------------------------------------------------ 
Responsive section
---------------------------------------------------------------*/
@media (max-width: 576px) {
  section.hero,
  section.setup,
  section.information {
    text-align: center;
  }

  /* ------------------------------------------------------------ 
  Navbar
  ---------------------------------------------------------------*/
  .navbar {
    padding: 20px 0;
  }

  .nav-link {
    margin-left: 0;
  }

  /* ------------------------------------------------------------ 
  Hero setion
  ---------------------------------------------------------------*/
  section.hero img {
    padding-top: 2.5rem;
  }

  section.hero .text {
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;
  }

  .buttons .btn {
    display: block;
    margin: 1rem 0;
  }

  .buttons .ms-3 {
    margin-left: 0 !important;
  }

  /* ------------------------------------------------------------ 
  Setup setion
  ---------------------------------------------------------------*/
  section.setup {
    padding: 50px 0;
  }

  /* ------------------------------------------------------------ 
  Footer setion
  ---------------------------------------------------------------*/
  footer {
    padding-top: 50px;
    margin-bottom: 44px;
  }
}
